/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.green-symbol {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-symbol {
  background: var(--red-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-symbol {
  background: var(--yellow-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.silver-symbol {
  background: var(--silver-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */
